/* ---- reset ---- */
/* @import url('https://fonts.googleapis.com/css2?family=Martel&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital@1&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  /* font: normal 75% Arial, Helvetica, sans-serif; */
  /* font-family: 'Merriweather Sans', sans-serif; */
  font-family: "Noto Sans", sans-serif;
  background: #3399ff;
}

#container {
  padding: 0 9%;
}
/* Navbar ------------------- */
.lr-pad {
  padding: 0 9%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 8vh;
  z-index: 9999;
  /* background-color: var(--bodycolor); */
  /* background: rgb(0, 0, 0); */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.24);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.stick {
  /* border-bottom: 2px solid #eee; */
}

.header .logo {
  /* color: var(--mainColor); */
  color: #fff;
  cursor: pointer;
}
.logo span {
  color: var(--dark);
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu ul {
  display: flex;
  /* justify-content: center; */
  gap: 25px;
}
.menu ul li a {
  color: var(--lightDark);
  display: block;
  font-size: 1.2rem;
  font-weight: normal;
  padding: 3px 0;
  position: relative;
  /* font-family: Poppins, "Arial"; */
  transition: 0.3s;
  color: #fff;
}
.menu ul li a::after {
  content: "";
  height: 3px;
  width: 0;
  background-color: var(--mainColor);
  border-radius: 5px;
  position: absolute;
  left: 0;
  bottom: -5px;
}
.menu ul li a:hover::after {
  width: 100%;
  transition: 0.5s;
  scale: 1.1;
}
.menu ul li a:hover {
  /* width: 100%; */
  transform: translateY(-4px);
  background: -webkit-radial-gradient(#b0e633, #53ef7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header ion-icon {
  display: none;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

.small {
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium {
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large {
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge {
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge {
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1 {
  opacity: 0.2;
}
.shade2 {
  opacity: 0.5;
}

.shade3 {
  opacity: 0.7;
}

.shade4 {
  opacity: 0.8;
}

.shade5 {
  opacity: 0.9;
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.8);
  }
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  color: #fff;
  z-index: 99;
}

#home h1 {
  font-size: 48px;
}

#profile {
  position: relative;
  top: 16%;
}

#sub-profile {
  font-size: 20px;
  margin-bottom: 60px;
  width: 700px;
}

#hire_me {
  /* border: 1px solid white; */
  width: fit-content;
  z-index: 99;
  position: relative;
  /* background: #fff; */
}

#social {
  width: fit-content;
  z-index: 999;
  position: relative;
  /* top: 10%; */
  display: flex;
  align-items: center;
  /* gap: 1.5rem; */
  width: 300px;
  justify-content: space-between;
  /* background: rgb(255, 255, 255); */
  border-radius: 2rem;
  /* border: 1px solid #474ae0; */
  /* box-shadow: 0px 0px 4px 0px #ffffe5; */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.24);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid #474ae0;
  padding: 6px;
}

#social > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
#social > a i {
  /* width: 4rem;  */
  font-size: 2rem;
  padding: 2px;
  margin: 2px;
  transition: all 0.3s;
}

/* ::-webkit-scrollbar {
  width: 10px;
  display: none;
} */

#social > a i:hover {
  background-color: #ffffff;
  /* color: #000000; */
  border-radius: 50%;
  scale: 1.1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #1416a8 0px 0px 0px 2px;
}
.social_icons {
  width: 36px;
  cursor: pointer;
}

.button-81 {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #1416a8;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 0.4;
  padding: 1rem 1.4rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-81:hover {
  background-color: #3399ff;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #1416a8 0px 0px 0px 2px;
}

.hire-btn {
  padding: 1rem 2.5rem;
  line-height: 0.8;

  /* background-color: #1e293b; */
  /* color: #00e4ff; */
  /* border-radius: 2rem; */
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);

  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #00dff8 0px 0px 0px 2px; */
}

.hire-btn:hover {
  transform: translateY(-4px);
}

/* ------- { About section} -------- */

.section-height {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */

  /* z-index: 99; */
  /* position: relative; */
  /* border: 1px solid; */
}

/* .section-height > * {
  border: 1px solid #fff;
} */

.section-height > h1 {
  font-size: 48px;
  text-align: center;
  color: #fff;
  /* padding-top: 60px; */
}

.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  /* top: 40%; */
  /* transform: translateY(-50%); */
}

.profile {
  width: 50%;
  height: 100%;
  padding: 2rem;
  /* border: 1px solid #fff; */
}

#pic {
  height: 100%;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  overflow: hidden;
  margin: auto;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px,
    rgb(255, 255, 255) 0px 0px 0px 3px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  top: 56%;
  transform: translateY(-50%);
  transition: all 0.5s;
}
/* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px; */
#pic:hover {
  scale: 1.1;
  box-shadow: 0px 104px 120px -62px rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: 0px 104px 120px -62px rgba(255, 255, 255, 0.85);
  -moz-box-shadow: 0px 104px 120px -62px rgba(255, 255, 255, 0.85);
}

#pic > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-text {
  font-size: 23px;
  text-align: justify;
  color: #fff;
}

.strong-text {
  font-weight: bold;
  font-size: 28px;
}

#skills {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
}

#skills h1 {
  font-size: 48px;
  text-align: center;
  color: #fff;
  padding-bottom: 1rem;
}

.skillArea {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 1rem;
}

.skill-box {
  height: 180px;
  /* border: 1px solid; */
  padding: 1rem;
  transition: 0.5s;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.42);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.skill-box:hover {
  scale: 1.1;
}

.skill-box img {
  height: 100%;
  width: 100%;
  /* object-fit: cover; */
}

@media (max-width: 768px) {
  #header {
    height: 6vh;
  }
  .menuList {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    background-color: var(--bodycolor);
    z-index: 2;
    transition: all 0.5s ease;
    border: 1px solid;
    background: rgb(160, 77, 77);
  }

  .menu ul {
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-end; */
  }
  .header {
    position: relative;
  }
  .menubar {
    padding-right: 8%;
    cursor: pointer;
  }
  .menubar ion-icon {
    display: inline-block;
    font-size: 2.5rem;
    height: 26px;
    width: 26px;
    color: rgb(255, 255, 255);
    padding: 4px;
    cursor: pointer;
    /* background: #fff; */
  }
  .menuList #close {
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 25px;
    font-size: 2.5rem;
    /* color: var(--dark); */
    cursor: pointer;
    /* color: rgb(78, 0, 0); */
  }
  .menuList {
    left: -100%;
    transition: all 0.5s ease;
  }

  .small {
    width: 90px;
    height: 90px;
    left: -45px;
    bottom: -45px;
    /* display: none; */
  }

  .medium {
    width: 180px;
    height: 180px;
    left: -90px;
    bottom: -90px;
  }

  .large {
    width: 360px;
    height: 360px;
    left: -180px;
    bottom: -180px;
  }

  .xlarge {
    width: 520px;
    height: 520px;
    left: -260px;
    bottom: -260px;
  }

  .xxlarge {
    width: 650px;
    height: 650px;
    left: -325px;
    bottom: -325px;
  }
  #container {
    padding: 0 1rem;
  }
  #home {
    height: 80vh;
    /* padding: 1rem; */
    /* border: 1px solid #0d172a; */
  }

  #home h1 {
    font-size: 2.3rem;
    margin-bottom: 10px;
  }

  #home p {
    font-size: 14px;
  }

  #sub-profile {
    /* font-size: 20px; */
    margin-bottom: 30px;
    width: 100%;
  }

  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
    color: #1e293b;
    border: 1px solid #00e4ff;
  }

  .button-81:hover {
    background: radial-gradient(#b0e633, #53ef7d);
    color: #1416a8;
  }

  #social {
    width: 90vw;
    position: fixed;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    /* z-index: 99; */
    height: fit-content;
    /* background: rgba(255, 255, 255, 0.507); */
    /* background-color: #1e293b; */
    /* background: rgba(255, 255, 255, 0.582);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(255, 255, 255); */
  }

  #about h1 {
    font-size: 28px;
    padding-top: 1rem;
  }

  .about {
    flex-direction: column;
  }

  .profile {
    padding: 1rem;
    width: 100%;
  }

  #pic {
    height: 150px;
    width: 150px;
  }

  .about-text {
    font-size: 18px;
  }

  .strong-text {
    /* width: 100%; */
    position: relative;
    left: 45%;
    transform: translateX(-50%);
    text-align: center;
  }

  #skills h1 {
    font-size: 28px;
  }

  .skillArea {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }

  .skill-box {
    height: 120px;
  }
}
