/* ---- reset ---- */
/* @import url('https://fonts.googleapis.com/css2?family=Martel&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital@1&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

body {
  margin: 0;
  /* font: normal 75% Arial, Helvetica, sans-serif; */
  /* font-family: 'Merriweather Sans', sans-serif; */
  font-family: "Noto Sans", sans-serif;
  background: #3399ff;
  padding: 0 120px;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

.small {
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium {
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large {
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge {
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge {
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1 {
  opacity: 0.2;
}
.shade2 {
  opacity: 0.5;
}

.shade3 {
  opacity: 0.7;
}

.shade4 {
  opacity: 0.8;
}

.shade5 {
  opacity: 0.9;
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.8);
  }
}

#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  color: #fff;
  /* position: relative; */
  z-index: 99;
}

#home h1 {
  font-size: 48px;
}

#sub-profile {
  font-size: 20px;
  margin-bottom: 60px;
  width: 700px;
}

#hire_me {
  /* border: 1px solid white; */
  width: fit-content;
  z-index: 99;
  position: relative;
  /* background: #fff; */
}

#social {
  width: fit-content;
  z-index: 99;
  position: relative;
  display: flex;
  align-items: center;
  /* gap: 1.5rem; */
  width: 300px;
  justify-content: space-between;
  /* background: rgb(255, 255, 255); */
  border-radius: 2rem;
  border: 1px solid #474ae0;
  box-shadow: 0px 0px 4px 0px #ffffe5;
  padding: 6px;
}

#social > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
#social > a i {
  /* width: 4rem;  */
  font-size: 2rem;
  padding: 2px;
  margin: 2px;
}

/* ::-webkit-scrollbar {
  width: 10px;
  display: none;
} */

#social > a i:hover {
  transition: all 0.3s;
  background-color: #ffffff;
  /* color: #000000; */
  border-radius: 50%;
  scale: 1.1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #1416a8 0px 0px 0px 2px;
}
.social_icons {
  width: 36px;
  cursor: pointer;
}

.button-81 {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #1416a8;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 0.4;
  padding: 1rem 1.4rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-81:hover {
  background-color: #3399ff;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #1416a8 0px 0px 0px 2px;
}

.hire-btn {
  padding: 1rem 2.5rem;
  line-height: 0.8;

  /* background-color: #1e293b; */
  /* color: #00e4ff; */
  /* border-radius: 2rem; */
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);

  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #00dff8 0px 0px 0px 2px; */
}

.hire-btn:hover {
  transform: translateY(-4px);
}

/* ------- { About section} -------- */

#nav-menu {
  position: relative;
  height: 100vh;
}
.card {
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  gap: 5px;
  padding: 60px 0;
}

.card p {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.5s;
  /* background: #ffffffc9; */
  opacity: 50%;
  /* border: 1px solid #ffffff; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.87);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(255, 255, 255);
}

.card p:hover {
  flex: 4;
}

.card p span {
  min-width: 14em;
  padding: 0.5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all 0.5s;
  text-transform: uppercase;
  color: #1216f3;
  letter-spacing: 0.1em;
  font-size: 20px;
  font-weight: bold;
}

.card p:hover span {
  transform: rotate(0);
}

@media (min-width: 768px) {
}
/* (min-device-width: 768px) and */
@media only screen and (max-device-width: 1024px) {
  #curser {
    display: none;
  }
  #tsparticles {
    height: 36vh;
    padding: 1rem;
  }

  #tsparticles h1 {
    font-size: 2.3rem;
    margin-bottom: 10px;
  }

  #tsparticles p {
    font-size: 14px;
  }

  #sub-profile {
    /* font-size: 20px; */
    margin-bottom: 30px;
    width: 100%;
  }

  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
    color: #1e293b;
    border: 1px solid #00e4ff;
  }

  #social {
    width: 90vw;
    position: fixed;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    background: #fff;
    background-color: #1e293b;
  }

  #nav-menu {
  }
  /* .menu {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
  } */
  .none {
    display: none;
  }
}
